node_modules/
src/db/db.json
scrapes/
archive/
package-lock.json
oldSratch/*
Session.vim
*.stormdb
src/devScripts
src/logger.js
gitHistoryFormatting_MainBox.js
tmpEventsWithoutHooks.js
**.swp
typescript
backup.bundle
todo.md
logs
dist/logger*
