**/node_modules
src/db/db.json
scrapes
archive
logs
package-lock.json
oldSratch/*
Session.vim
*.stormdb
src/devScripts
gitHistoryFormatting_MainBox.js
tmpEventsWithoutHooks.js
**.swp
**.json
typescript
dist/db/db.json
backup.bundle
